*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container img{
    position: relative;
    width: 100%;
    height: 100vh;
}
.container h1{
    position: absolute;
    bottom: 80px;
    left: 45%;
    background-color: #000000b8;
    color: #f5f5f5;
}
.slide h1{
    color: cornsilk;
    position: absolute;
    bottom: 100px;
    left: 45%;
    background-color: #00000070;
}
.slider{
    position: absolute;
    bottom: 25px;
    left: 38%;
}
.page{
    width: 80px;
    height: 5px;
    border-radius: 5px;
    margin-left: 20px;
    float: left;
    cursor: pointer;
    background-color: #cccbc565;
}
.page:hover{
    border: 3px solid yellow;
}
#slideimg2, #slideimg3, #slideh12, #slideh13{
    display: none;
}